html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: black;
}
body {
  background: black;
}
.panel {
  position: absolute;
  z-index: 100;
}
.roundBackground {
  background-color: #89898b !important;
  border-radius: 50%;
}
#menu {
  top: 5%;
  left: 1%;
}
.imagePanel {
  text-align: center;
}
.image {
  width: 10%;
  pointer-events: none;
}
